#about, #skills, #socialmedia {
    margin-right: 30px;
}

#socialmedia {
    margin-right: 5px;
}

.individual-skill, .individual-project {
    display: inline-block;
    padding: 30px;
    margin-right: 50px;
}

.individual-skill-heading {
    text-align: center;
}

.individual-media {
    display: inline-block;
    padding: 5px;
    margin-left: 13px;
}

.topnav {
  overflow: hidden;
  background-color:black;
  color: white;
  text-align: center;
  font-size: 20px;
}

.project-image {
    width:55%;
    margin-right:2%;
    float: left;
}

.project-info {
    width:42%;
    float: left;
}

.category-heading {
    text-align: center;
}

.individual-stat {
    display: inline-block;
    text-align: center;
    margin: 5%;
    margin-left: 28%
}
