html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

body {
  overflow-x: hidden;
  background-color: var(--navy) !important;
  color: var(--dark-gray) !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  width: 100%;
}

:root {
  --light-cyan: #64FFDA;
  --light-cyan-background-opacity-light: rgb(100, 255, 218, 0.1);
  --light-cyan-background-opacity-heavy: rgb(100, 255, 218, 0.2);
  --light-gray: #CCD6F6;
  --dark-gray: #8892B0;
  --navy: #0a192f;
  --border-radius: 5px;
  --transition-speed: 0.3s
}

::selection {
  color: white;
  background: var(--dark-gray); /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: white;
  background: var(--dark-gray); /* Gecko Browsers */
}

/* Navbar */

#navbar {
  background: var(--navy) !important;
  opacity: 0.95;
  box-shadow: 0 0 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@media (max-width: 767px) {
  .navbar-brand {
    position: relative;
    left: 10px;
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    position: relative;
    left: 25px;
  }
}

.navbar-logo {
  position: absolute;
  top: 10px;
  left: 14px;
  font-size: 24px;
}

.navbar-toggler {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: var(--light-cyan);
  margin: 6px 0;
  transition: var(--transition-speed);
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.navbar-brand, .nav-link {
  color: var(--dark-gray) !important;
}

.nav-link {
  font-size: 16px;
  margin-right: 10px;
  color: var(--light-gray) !important;
}

.nav-link.active {
  color: var(--light-cyan) !important;
}

.navbar-brand, .nav-link:hover {
  color: var(--light-cyan) !important;
  cursor: pointer;
}

@media (max-width: 767px) {
  .nav-link {
    margin-right: 0;
    float: right;
  }
}

.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
  outline-color: 1px solid white;
  box-shadow: none;
}

/* Background Image */

.background-image {
  width: 100vw;
  height: 100vh;
}

/* Text on Background Image */

#highlighted-name {
  color: var(--light-cyan);
}

.background-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4vw;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  color: #CCD6F6;
}

@media (max-width: 820px) {
  .background-text {
    white-space: normal;
    font-size: 8vw;
  }
}

@media (min-width: 1200px) {
  .background-text {
    font-size: 36px;
  }
}

/* Button on Background Image */

.introduction-button {
  border: 2px solid var(--light-cyan);
  padding: 20px 28px;
  letter-spacing: 2px;
  font-size: 18px;
  border-radius: var(--border-radius);
  white-space: nowrap;
  color: var(--light-cyan);
  transition-duration: var(--transition-speed);
}

@media (max-width: 820px) {
  .introduction-button {
    font-size: 18px;
  }
}

.introduction-button:hover {
  border: 2px solid var(--light-cyan);
  color: var(--light-cyan);
  background-color: var(--light-cyan-background-opacity-light);
  text-decoration: none;
  transition-duration: var(--transition-speed);
}

.introduction-button:hover .view-work-icon-right, .introduction-button .view-work-icon-down {
  display: none;
}
.introduction-button:hover .view-work-icon-down {
  display: inline;
}

/* All Sections */

.section-heading-above-space {
  height: 100px;
}

.section-heading {
  text-align: center;
  color: var(--light-cyan);
  font-weight: 500;
}

.section-heading-underline {
  border-radius: .25rem !important;
  border-top: 4px solid #b3b3b3;
  text-align: center;
  width: 100px;
}

.section-heading-under-space {
  height: 60px;
}


#about, #skills, #portfolio, #blog, #contact {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 1300px) {
  #about, #contact {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 1300px) {
  #skills, #portfolio, #blog {
    margin-left: 7%;
    margin-right: 7%;
  }
}

/* About */

#about-text-container {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
}

.about-text {
  font-size: 20px;
}

.about-text-link {
  position: relative;
}

.about-text-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid var(--light-cyan);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

.about-text-link:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.about-text-link:hover {
  text-decoration: none;
  transition-delay: 0.1s;
}

/* Technical Skills */

.grid-container-skills {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
}

.skill-item {
  padding: 5px 5px;
  text-align: center;
  margin: 10px;
}

.skill-item-heading {
  font-size: 23px;
}

@media (min-width: 320px) {
  .grid-container-skills {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 320px) {
  .grid-container-skills {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 360px) {
  .grid-container-skills {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 500px) {
  .grid-container-skills {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 525px) {
  .grid-container-skills {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 770px) {
  .grid-container-skills {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1000px) {
  .grid-container-skills {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid-container-skills {
    grid-template-columns: repeat(7, 1fr);
  }
}

/* Portfolio */

/* Portfolio Project Filter */

#project-filter-btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: auto;
  margin-right: auto;
  max-width: 1035px;
}

@media (max-width: 1100px) {
  #project-filter-btn-container {
    max-width: 630px;
  }
}

.project-filter-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--border-radius);
  height: 50px;
  width: 150px;
  background-color: var(--navy);
  border: 2px solid var(--light-cyan);
  color: var(--light-cyan);
  opacity: 0.6;
  font-size: 17px;
  transition-duration: var(--transition-speed);
}

.project-filter-btn:focus {
  outline: none;
}

.project-filter-btn.active {
  background-color: var(--light-cyan);
  color: #020c1b;
  opacity: 1;
}

.project-filter-btn.active:hover {
  background-color: var(--light-cyan);
  color: #020c1b;
  opacity: 1;
}

.project-filter-btn:hover {
  background-color: var(--light-cyan-background-opacity-heavy);
  color: var(--light-cyan)
}

@media (max-width: 449px) {
  #project-filter-btn-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-filter-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 95%;
  }
}

@media (min-width: 450px) and (max-width: 850px) {
  #project-filter-btn-container {
    grid-template-columns: repeat(2, 1fr);
    max-width: 337px;
  }
  .project-filter-btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Portfolio Projects */

.grid-container-projects {
  display: grid;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 10px;
  grid-template-columns: (3, 1fr);
  max-width: 930px;
}

@media (min-width: 200px) and (max-width: 849px) {
  .grid-container-projects {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .grid-item-project {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
}

@media (min-width: 850px) and (max-width: 1099px) {
  .grid-container-projects {
    max-width: 623px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  .grid-container-projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

.grid-item-project {
  min-width: 150px;
  height: 250px;
  display: none;
}

.show {
  display: block;
}

.project-image {
  height: 100%;
  width: 100%;
  opacity: 1;
  transition-duration: var(--transition-speed);
  backface-visibility: hidden;
}

.project-container {
  position: relative;
  bottom: 200px;
  opacity: 0;
}

.project-title {
  font-size: 22px;
  color: white;
}

.project-technology {
  font-size: 16px;
  color: var(--light-cyan);
  white-space: nowrap;
}

.grid-item-project:hover .project-image {
  opacity: 0.05;
}

.grid-item-project:hover .project-container {
  opacity: 1;
}

.learn-more-button {
  visibility: hidden;
  position: relative;
  border-radius: var(--border-radius);
  bottom: 150px;
  background-color: var(--navy);
  border: 2px solid var(--light-cyan);
  color: var(--light-cyan);
  padding: 10px 24px;
  font-size: 17px;
  white-space: nowrap;
  opacity: 0.6;
}

.learn-more-button:focus {
  outline: none;
}

.learn-more-button:hover {
  background-color: rgb(100, 255, 218, 0.1);
  color: var(--light-cyan);
  opacity: 1;
}

.grid-item-project:hover .learn-more-button  {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 575px) {
  .modal-content {
    width: 90% !important;
    margin: 5% 5% 5% 5%;
  }
  .project-modal-image {
    max-width: 100%;
  }
  .modal-content div, .modal-content div p {
    font-size: 20px;
  }
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.project-modal-image {
  width: 100%;
  border-bottom: 3px solid var(--dark-gray);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  bottom: 2px;
  width: auto;
  padding: 15px 25px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition-duration: var(--transition-speed);
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

/* Position the "prev button" to the right */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  text-decoration: none;
  color: white;
}

.project-modal-information-container {
  padding: 35px 60px 35px 35px;
  text-align: left;
  background-color: var(--navy)
}

.project-modal-information-title {
  font-size: 29px !important;
  margin-bottom: 15px;
  color: var(--light-cyan)
}

.project-modal-information-description {
  font-size: 18px !important;
  margin-bottom: 15px;
}

.project-modal-information-tech {
  font-size: 16px !important;
  margin-bottom: 25px;
}

@media (max-width: 360px) {
  .project-modal-information-container {
    padding: 20px;
  }
  .project-modal-information-title {
    font-size: 20px !important;
    margin-bottom: 10px;
  }
  .project-modal-information-description {
    font-size: 15px !important;
    margin-bottom: 10px;
  }
  .project-modal-information-tech {
    font-size: 13px !important;
    margin-bottom: 20px;
  }
}

.project-media-button {
  background-color: var(--navy);
  border: 2px solid var(--light-cyan);
  border-radius: var(--border-radius);
  width: 140px;
  padding: 10px 24px;
  font-size: 18px;
  white-space: nowrap;
  color: var(--light-cyan);
  margin-right: 15px;
  font-size: 17px;
  white-space: nowrap;
  transition-duration: var(--transition-speed);
}

.project-media-button:focus {
  outline: none;
}

@media (min-width: 100px) and (max-width: 320px) {
  .project-media-button {
    padding: 3px;
  }
}

@media (min-width: 339px) and (max-width: 360px) {
  .project-media-button {
    padding: 5px;
  }
}

@media (min-width: 360px) and (max-width: 438px) {
  .project-media-button {
    padding: 10px 12px;
  }
}

@media (max-width: 520px) {
  .project-media-button {
    margin-bottom: 20px;
    margin-right: 50px;
  }
}

.project-media-button:hover {
  background-color: var(--light-cyan-background-opacity-light);
  text-decoration: none;
  border: 2px solid var(--light-cyan);
  color: var(--light-cyan);
}

.project-media-button-icon {
  position: relative;
  bottom: 2px;
  padding-right: 8px;
  font-size: 13px;
}

.project-media-close-button {
  color: var(--dark-gray);
  cursor: pointer;
  float: right;
  position: relative;
  top: 10px;
}

.project-media-close-button::before {
  font-size: 24px;
}

/* Blog Section */

.grid-container-blog-posts {
  display: grid;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 10px;
  grid-template-columns: (4, 1fr);
  max-width: 1200px;
}

@media (min-width: 200px) and (max-width: 849px) {
  .grid-container-blog-posts {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    max-width: 303.3px;
  }
  .blog-post-link {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
  }
}

@media (min-width: 850px) and (max-width: 1299px) {
  .grid-container-blog-posts {
    max-width: 623px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1300px) {
  .grid-container-blog-posts {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid-container-blog-posts:hover > .blog-post-link {
  opacity: 0.4;
}

.grid-container-blog-posts:hover > .blog-post-link:hover {
  opacity: 1;
}

.blog-post-link {
  min-width: 150px;
  max-width: 303.3px;
  height: 400px;
}

.blog-post-link:hover {
  text-decoration: none;
}

.blog-image {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  transition-duration: var(--transition-speed);
}

.blog-information-container {
  text-align: left;
  color: white;
}

.blog-title {
  font-size: 20px;
  margin-bottom: 5px;
  height: 66px;
}

.blog-date {
  font-size: 15px;
}

.blog-post-link:hover .blog-information-container {
  text-decoration: none;
}

.blog-post-link:hover .blog-title {
  text-decoration: none;
  color: var(--light-cyan);
}

.blog-post-link:hover {
  opacity: 1;
}

.blog-information-container-underline {
  border-radius: .25rem !important;
  border-top: 4px solid var(--light-cyan);
  float: left;
  width: 100px;
}

/* Contact */

.contact-text-container, .all-individual-media {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.contact-text {
  font-size: 20px;
}

.get-in-touch-container {
  text-align: center;
}

.get-in-touch-button {
  border: 2px solid var(--light-cyan);
  padding: 20px 28px;
  letter-spacing: 2px;
  font-size: 18px;
  border-radius: var(--border-radius);
  white-space: nowrap;
  color: var(--light-cyan);
  transition-duration: var(--transition-speed);
}

.get-in-touch-button:hover {
  text-decoration: none;
  color: var(--light-cyan);
  background-color: var(--light-cyan-background-opacity-light)
}

.individual-media {
  display: inline-block;
  padding: 10px;
  position: relative;
  margin: auto;
}

.individual-media-text {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  right: 0px;
  z-index: 100;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  text-align: center;
  padding: 5px 15px;
  border-radius: 5px;
}

.individual-media-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 7px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1) transparent transparent transparent;
}

.individual-media:hover .individual-media-text {
  visibility: visible;
}

i.fab.fa-linkedin {
  font-size: 55px;
  color: #0A66C2; 
  position: relative; 
  bottom: 1px;
  z-index: 100;
}

#linkedin-icon-background {
  position: absolute;
  top: 7px;
  left: 4.5px;
  width: 40px;
  height: 40px;
  background-color: white;
  z-index: -100;
}

i.fab.fa-github-square {
  font-size: 55px;
  color: black;
  position: relative; 
  top: 2px;
  z-index: 100;
}

#github-icon-background {
  display: block;
  position: absolute;
  top: 18px;
  left: 14px;
  width: 42px;
  height: 42px;
  background-color: white;
  z-index: -100;
}

i.fab.fa-medium {
  font-size: 55px;
  color: black;
  position: relative; 
  top: 2px;
  z-index: 100;
  border-radius: 10px !important;
}

#medium-icon-background {
  display: block;
  position: absolute;
  top: 20px;
  left: 14px;
  width: 42px;
  height: 40px;
  background-color: white;
  z-index: -100;
}

i.fab.fa-twitter-square {
  font-size: 55px; 
  color: #1DA1F2; 
  position: relative; 
  bottom: -1px;
}

#twitter-icon-background {
  display: block;
  position: absolute;
  top: 20px;
  left: 14px;
  width: 42px;
  height: 40px;
  background-color: white;
  z-index: -100;
}

i.fas.fa-envelope {
  font-size: 55px; 
  color: white; 
  position: relative;
  top: 4px;
}

i.fas.fa-folder {
  font-size: 55px; 
  color: #e8bb4d; 
  position: relative; 
  top: 4px;
}

/* Copyright */

#scroll-to-top-btn {
  position: relative;
  top: 25px;
  background-color: #4dffd5;
  width: 50px;
  height: 50px;
  text-align: center; 
  display: block; 
  margin: 0 auto;
  cursor: pointer;
}

#scroll-to-top-btn:hover {
  background-color: var(--light-cyan);
}

.fa.fa-angle-double-up.scroll-to-top-icon {
  font-size: 30px;
  margin-top: 10px;
  color: white;
}

.bottom-nav {
  background-color: #040b15;
  padding: 20px 5px;
  color: white;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
}

#bottom-nav-text {
  color: var(--light-gray);
  padding-top: 30px;
  padding-bottom: 20px;
}